:root {
  --white: #ffffff;
  --blue: #6ec1e4;
  --sky: #f3f5ff;
  --border: #a7a7a7;
  --gray: #545454;
  --black: #111111;
  --error: #ff8132;
  --success: #7c9dfb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  margin-top: 75px;
}
