.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.boardContainer {
  width: 90%;
  max-width: 1000px;
}

.boardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.writeButton {
  padding: 8px 14px;
  font-size: 14px;
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.boardTable {
  width: 100%;
  border-collapse: collapse;
}

.boardTable th,
.boardTable td {
  border-bottom: 1px solid var(--border);
  padding: 12px;
  text-align: center;
  font-size: 14px;
  a {
    color: var(--black);
  }
}

.boardTable th {
  background-color: var(--white);
  font-weight: bold;
}
