.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 5px;
}

.signup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postcodeWrap {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  button {
    width: 110px;
    font-size: 12px;
    border-radius: 6px;
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.5s;
  }
}

.label {
  font-weight: 500;
  margin: 12px 0 4px;
}

.input {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid var(--border);
  border-radius: 6px;
  font-size: 14px;
  background: var(--sky);
}

.message {
  font-size: 12px;
  margin-top: 4px;
  color: var(--success);
}

.message.error {
  color: var(--error);
}

.submitBtn {
  width: 100%;
  padding: 14px;
  background: var(--black);
  color: var(--white);
  font-size: 16px;
  border-radius: 6px;
  margin-top: 24px;
  cursor: pointer;
  transition: all 0.5s;
}

.submitBtn:hover {
  color: var(--blue);
}
